.core_component {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left content";
    height: 100vh;
}

.left_component {
    grid-area: left;
    width: 200px;
    background-color: rgb(230, 230, 230);
    position: relative;
    overflow-x: hidden;
    transition: 0.3s;
    border-right: 1px solid rgb(151, 151, 151);
}

.left_component.yuttana_collapse {
    width: 50px;
}

.left_component.yuttana_collapse>.group_left_nav>.left_nav {
    margin-left: 0px;
    padding-left: 13px;
    animation: 'fade_collapse' 0.3s;
    -webkit-animation: 'fade_collapse' 0.5s;
}

.left_component.yuttana_collapse>.group_left_nav>.left_nav>div {
    display: none;
}

.left_app_name {
    color: rgb(63, 59, 59);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: white;
    padding: 0px 0px;
    padding-right: 10px;
    padding-left: 50px;
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
}

.group_left_nav {
    margin-top: 50px;
}

.left_nav {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 0px;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    user-select: none;
    display: flex;
    height: 50px;
}

.left_nav img {
    margin-top: 2px;
    filter: brightness(30%);
}

.left_nav:hover {
    transition: 0.3s;
    background-color: rgb(207, 207, 207);
}

.left_nav:not(:first-child) {
    margin-top: 10px;
}

.left_nav.selected {
    animation: 'fade' 0.5s;
    -webkit-animation: 'fade' 0.5s;
    background-color: rgb(204, 204, 204);
    font-weight: bold;
}

.left_nav.selected>img {
    filter: brightness(30%);
}

.left_nav.selected div {
    color: rgb(39, 39, 39);
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.left_nav div {
    font-size: 14px !important;
    line-height: 30px;
    margin-left: 10px;
    filter: brightness(60%);
}

.left_nav img {
    height: 25px;
    width: 25px;
    filter: brightness(70%);
}

@keyframes fade {
    from {
        margin-left: 200px;
    }
    to {
        margin-left: 0px;
    }
}

@keyframes fade_collapse {
    from {
        margin-left: 50px;
    }
    to {
        margin-left: 0px;
    }
}

.main_component {
    grid-area: content;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

.top_bar_container {
    height: 40px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 2px 2px rgba(99, 99, 99, 0.15);
    box-shadow: 0px 2px 2px 2px rgba(99, 99, 99, 0.15);
    width: 100%;
    max-width: 100%;
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'left right';
    border-bottom: 1px solid rgb(151, 151, 151);
}

.top_bar_left {
    grid-area: left;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.top_bar_collaspe_button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.top_bar_collaspe_button img {
    height: 15px;
    width: 15px;
}

.top_bar_collaspe_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(99, 99, 99, 0.3);
    box-shadow: 0px 2px 10px 2px rgba(99, 99, 99, 0.3);
}

.top_bar_collaspe_button:hover img {
    transition: 0.3s;
    filter: brightness(0.5);
}

.top_bar_left_button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.top_bar_left_button img {
    height: 20px;
    width: 20px;
}

.top_bar_left_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(99, 99, 99, 0.3);
    box-shadow: 0px 2px 10px 2px rgba(99, 99, 99, 0.3);
}

.top_bar_left_button:hover img {
    transition: 0.3s;
    filter: brightness(0.5);
}

.top_bar_right {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top_bar_profile {
    background-color: rgb(151, 151, 151);
    min-width: 30px;
    min-height: 30px;
    border-radius: 25px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: white;
}

.top_bar_button {
    margin: 0px 5px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.top_bar_button>img {
    height: 8px;
    width: 8px;
    filter: brightness(0.8);
    margin-left: 5px;
    transform: rotate(90deg);
}

.top_bar_button>div {
    font-size: 15px;
    color: rgb(54, 54, 54);
}

.top_bar_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(99, 99, 99, 0.3);
    box-shadow: 0px 2px 10px 2px rgba(99, 99, 99, 0.3);
}

.top_bar_group_nav {
    position: absolute;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    top: 40px;
    right: 5px;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(180, 180, 180, 0.452);
    box-shadow: 0px 2px 5px 3px rgba(180, 180, 180, 0.452);
    animation: 'slide_down' 0.3s;
    -webkit-animation: 'slide_down' 0.3s;
    overflow: hidden;
    z-index: 1;
}

@keyframes slide_down {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.top_bar_nav {
    margin: 5px 5px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}

.top_bar_button.clicked {
    background-color: rgb(214, 214, 214);
}

.top_bar_button.clicked>div {
    color: black;
}

.top_bar_nav:hover {
    transition: 0.3s;
    background-color: rgb(214, 214, 214);
}

.top_bar_button.clicked>img {
    transition: 0.2s;
    transform: rotate(270deg);
    filter: brightness(0.2);
}