body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

:root {
  --scroll-top: 0px;
  --top: 0px;
  --vh: 1vh;
  --left-bar-width: 50px;
  --top-bar-height: 55px;
  --planner-detail-left: 0px;
  --planner-detail-top: 0px;
  --hover-planner-color: white;
  --planner-color: white;
}
