.app_container {
    margin: 5px 0px;
    background-color: white;
    border-radius: 15px;
    height: calc(100% - 65px);
    overflow-y: auto;
}

.app_name {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 10px;
    color: rgb(54, 54, 54);
}

.content_container {
    margin: 5px 5px;
}
