.app_container {
    margin: 5px 5px 5px 10px;
    background-color: white;
    border-radius: 10px;
    height: calc(100% - 60px);
    overflow-y: auto;
    border: 1px solid rgb(151, 151, 151);
}

.app_name {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0px 10px 10px;
    color: rgb(54, 54, 54);
}

.content_container {
    margin: 0px 5px;
}
